/* CSS Document */

/*iframe setup*/
#eval_iframe {
	display:block;
	position:fixed;
	z-index:99990;
	top:25px;
	left:10px;
	height:550px;
	max-height:95%;
	width:350px;	
	border-left :medium solid gray;
	border-right :medium solid gray;
	border-bottom:medium solid gray;
	background-color:#FFF; 
}

.highlight, .highlight a {
	color:#FFF !important;
	background-color:#000 !important;
}

/*body setup*/
/*
html, body {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#999;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:0.9em;
}
*/
#full {
	width:100%;
	height:100%;
	padding: 10px;
	margin: auto;
	background-color:#fff;
}
#navigation {
	position:relative;
	margin:0;
	padding:0;
}
#navigation li {
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	cursor:pointer;
}

#navigation li {
	padding:5px;
	margin:0 auto;
	border-top:thin solid #eee;
	border-bottom:thin solid #eee;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;	
}
#navigation li.selected, #navigation li.selected:hover {
	background-color:#036;
	color:#fff;
}
#navigation li:hover {
	background-color:#eee;	
}

#sections {
	position:relative;
	width:97%;
	height:450px;
	clear:both;
	overflow-y:scroll;
}

.major_section {
	width:100%;
	position:absolute;
	margin-left:-999em;	
}

#buttons {
	position:relative;
	margin-top:10px;
}

/*entry setup*/

textarea {
	max-width:95%;
}

.container {
	width:300px;
}

.low {
	width:auto;
	float:left;
	font-size:0.8em;
	height:1.2em;
	margin-top:5px;
}

.high {
	width:auto;
	float:right;
	font-size:0.8em;
	height:1.2em;
		margin-top:5px;
}

.input_value {
	margin:0.2em auto;
	text-align:center;
	font-size:0.9em;
	height:1.2em;
	width:30px;
	
	padding:3px;
	background-color:#efefef;
	border:thin solid #ccc;
}


.slider { 
	clear:both; 
	margin:0.5em 0 1.5em 0;
}

.html5div {
	position:			relative;
	background-color:	rgb(230,230,230);
	background-image: 	url("bluecurve/red-green-bkgd.png");
	background-size:	100% 100%;
	width:				310px;
	height:				25px;
}

.html5slider {
	position:			relative;
	width:				300px;
	height:				25px;
}

#savestatus {
	float:right;
	color:gray;
	font-size:0.8em;
	width:80px;
	height:1.1em;	
}

#delete-entry {
	float:right;
	height:20px;
	cursor:pointer;
	margin-right:1em;
}

@media all and (max-height: 500px) {
#eval_iframe{height:450px;}
#sections{height:375px;}
}