/* CSS Document */


/* layout */ 
form#evaluation {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#full {
	position:relative;
	width:94%;
	height:94%;
	padding: 3%;
	background-color:#fff;
}

#navigation {
	display:block;
	position: relative;
	width: 94%;
	height: 28px;
	margin: 0 0 0 0;
	padding:0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	z-index:1;
}
#sections {
	position: relative;
	width: 100%;
	height: 90%;
	overflow-y:scroll;
	
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	font-weight:400;
	font-size:0.9em;
}
#buttons {
	position:relative;
	bottom: 0;
	width: 94%;
	height: 22px;
	padding-top:10px;
	border-top: 1px solid #f1f1f1;
}

.major_section {
	width:94%;
	padding:0 3%;
	position:absolute;
	margin-left:-999em;	
}
/*
#full {
	position:relative;
	width:94%;
	height:94%;
	padding: 3%;
	background-color:#fff;
}

form#evaluation {
	position:relative;
	height:100%;
	width: 100%;
}

#navigation, #sections, #buttons {
	position: relative;
	float: left;
}

#navigation {
	width: 100%;
	height: 28px;
	margin: 3px 0 0 0;
	padding:0;
}
#sections {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow-y:scroll;
	
	border: thin solid #f1f1f1;
	
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	font-weight:400;
	font-size:0.9em;
}
#buttons {
	position:relative;
	width: 100%;
	height: 22px;
	margin-top:10px;
}

.major_section {
	width:94%;
	padding:0 3%;
	position:absolute;
	margin-left:-999em;	
}
*/
/* elements */
#navigation li {
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	cursor:pointer;
	
	padding:5px;
	margin:0 auto;
	
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size:0.8em;	
}
#navigation li.selected, #navigation li.selected:hover {
	background-color:#036;
	color:#fff;
}
#navigation li:hover {
	background-color:#eee;	
}

#sections h2 {
	font-size:1.2em;
}

/*entry setup*/

.major_section .container {
	width:100%;
}

.major_section .low {
	width:auto;
	float:left;
	font-size:0.8em;
	height:1.2em;
	margin-top:5px;
}
.major_section .low.indent {
	margin-left: 15%;
}

.major_section .high {
	width:auto;
	float:right;
	font-size:0.8em;
	height:1.2em;
		margin-top:5px;
}

.major_section .input_value {
	position:absolute;
	z-index: 5;
	margin-top: -1px;
	
	text-align:center;
	font-size:12px;
	height:12px;
	line-height:13px;
	width:16px;
	
	padding:2px 2px 4px 2px;
	background-color: #fff;
	border:1px solid #ccc;
}

/*pointer below box*/
.input_value:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 6px;
    top: 15px;
    width: 6px;
    height: 6px;
    border-color: #ccc;
    border-width: 1px;
    border-style: none solid solid none;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}


.major_section .slider { 
	clear:both; 
	margin:0.5em 0 1.5em 0;
}

.major_section .html5div {
	position:			relative;
	/*background-color:	rgb(230,230,230);*/
	background-color: #FFF;
	background-image: url("bluecurve/red-green-bkgd.png");
	background-attachment:fixed;
	background-size:	100% 100%;
	width:				100%;
	height:				25px;
}
.html5div.indent {
	background-color: #FFF;
	background-position: 100% 0;
	background-size: 83% 100%;
	background-repeat: no-repeat;	
}

.dynamic-slider-control.indent {
	background-color: #FFF;
	background-position: 100% 0;
	background-size: 86% 100%;
	background-repeat: no-repeat;	
}

.html5slider {
	position:			relative;
	width:				98%;
	margin: 0 1%;
	height:				25px;
}

.major_section textarea {
	width: 100%;
	height: 5.5em;
}

#savestatus {
	float:right;
	color:gray;
	font-size:0.8em;
	width:80px;
	height:1.1em;	
}

#buttons .icon {
	float:right;
	height:20px;
	width:20px;
	overflow:hidden;
	cursor:pointer;
	margin-right:1em;
}

#star-entry { background: url('../star.png') 0 0; }
#star-entry.starred { background-position: 20px 0; }

@media all and (max-height: 500px) {
#eval_iframe{height:450px;}